<div class="container">
    <div class="row">
        <div class="col">
            <button type="button" (click)="goBack()" class="btn btn-lg btn-default text-right">Voltar</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3 class="text-center">PERGUNTAS E RESPOSTAS</h3>

            <h6>Eu pago para utilizar o aplicativo?</h6>

            <p>Não, só se você quiser tirar os anúncios.</p>

            <h6>Como tiro os anúncios? </h6>

            <p>Você pode contratar um plano, que pode ser mensal, bimestral, trimestral, semestral ou anual. Os planos são usados para retirar os anúncios por um tempo determinado.</p>

            <h6>Como posso contratar um plano?</h6>

            <p>Os pagamentos podem ser realizados por cartão de credito, cartão de débito e débito em conta.</p>

            <h6>Como funciona o método de qualificação?</h6>

            <p>Os usuários podem qualificar o aplicativo quanto sua utilidade e funcionalidade.</p>

            <h6>Posso denunciar um usuário ou prestador ilegal?</h6>

            <p>Qualquer pessoa pode denunciar um usuário ilegal, para isso entre em contato conosco por e-mail que tomaremos as devidas providências imediatamente.</p>

            <h6>Como será a divulgação do RATTEANDO?</h6>

            <p>A divulgação do RATTEANDO será feita de maneira geral em sites relacionados, redes sociais, email-marketing, propagandas impressas, além de sua participação em divulgar aos seus amigos através de sua Rede Social e de Boca a Boca.</p>

            <h6>Onde posso encontrar mais Informações gerais sobre o RATTEANDO?</h6>

            <p>Você deve acessar também a "Política de Privacidade" e "Termo de Uso".</p>

            <p>Qualquer dúvida que você tiver, é só falar com a gente no contato@appratteando.com</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button type="button" (click)="goBack()" class="btn btn-lg btn-default text-right">Voltar</button>
        </div>
    </div>
</div>