<div class="container">
    <div class="row">
        <div class="col">
            <button type="button" (click)="goBack()" class="btn btn-lg btn-default text-right">Voltar</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3 class="text-center">TERMO DE USO</h3>

            <h5>ANTES DE UTILIZAR NOSSOS SERVIÇOS, LEIA ATENCIOSAMENTE ESTE TERMO DE USO DO REPAROS.</h5>

            <h5>AO UTILIZAR O APLICATIVO OU SERVIÇO DE QUALQUER FORMA, VOCÊ CONCORDA AUTOMATICAMENTE COM OS TERMOS DESTE
                ACORDO.
            </h5>

            <p>Este Termo de Uso apresenta as &quot;Condições Gerais&quot; aplicáveis ao
                uso dos serviços oferecidos pela VIEIRA &amp; CIA. LTDA. - ME, sociedade
                limitada, inscrita no CNPJ sob n° 18.676.879/0001-51, localizada na
                Travessa Almirante Wandenkolk, 1243, sala 1405, no bairro de Nazaré,
                na cidade de Belém capital do Estado do Pará, doravante denominada
                &quot;RATTEANDO”.</p>

            <p>O RATTEANDO é uma ferramenta que facilita o controle de uma
                comanda de gastos em bar, restaurantes e afins..</p>

            <p>São de inteira responsabilidade do usuário as informações
                compartilhadas.</p>

            <p>O RATTEANDO não se responsabiliza pelas negociações realizadas.</p>

            <p>A proposta é servir como controle de uma comanda universal para
                facilitar a divisão das despesas, cabendo a cada um apenas o que foi
                consumido.</p>

                <h6>ALTERAÇÃO DOS TERMOS DE USO</h6>

            <p>A Empresa se reserva o direito, a seu critério, de modificar ou
                substituir o conteúdo do Termo de Uso, suspender ou descontinuar o
                serviço a qualquer momento. A responsabilidade de verificar o Termo
                de Uso periodicamente fica sobre critério dos Usuários.</p>

                <h6>REGISTRO</h6>

            <p>Não precisa se registrar, qualquer pessoa pode usar o
                aplicativo.</p>

            <h6>Os USUÁRIOS concordam em:</h6>

            <ol>
                <li>1. Utilizar o aplicativo de maneira séria e consciente;</li>
                <li>2. Não fazer do aplicativo uma ferramenta para tirar</li>
                vantagens de terceiros;
                <li>3. Aproveitar e se divertirem.</li>
            </ol>

            <h6>FUNCIONAMENTO DO NEGÓCIO</h6>

            <p>O aplicativo móbile servirá como uma comanda universal para
                os clientes utilizarem em bares, restaurantes e afins, a fim de
                facilitar a divisão das despesas, cabendo a cada o que consumiu.</p>

            <p>Além disso, o aplicativo sincroniza informações com outros
                celulares permitindo uma a visualização da comanda geral para
                vários usuários, permite também, a geração de um histórico das
                comandas que podem ser enviadas para os usuários através de
                varias modalidades de envios.</p>

            <p>Os principais itens da comanda são os avarias, nomes dos
                participantes, ícones dos produtos, nomes dos produtos e preços
                dos produtos, taxa de serviço, sub-total e total.</p>

            <p>Você pode usar o Ratteando para controlar seus gastos
                separadamente ou de um grupo de amigos.</p>

            <h6>Separadamente:</h6>

            <p>Você controla apenas os seus gastos, para isso você precisa
                escolher um avatar e colocar o seu nome, depois e só indo
                anexando os ícones de produtos com seus respectivos nomes e
                preços. Para iniciar sua Comanda Individual, clique no botão
                “Adicionar Participante”, dentro da comanda, adicione os itens
                clicando no botão “Adicionar Item”.</p>

                <h6>Em grupo:</h6>

            <p>Você precisa escolher um avatar e colocar o seu nome, depois
                cadastrar todos os avatais e nomes dos participantes e em cada
                participante incluir ícones de produtos com seus respectivos nomes
                e preços. No caso de comanda em grupo, o administrador da comanda poderá compartilhar a comanda com o participante que
                quiser se conectar para ter acesso visual de seus gastos, caso
                queira conectar seus amigos à comanda, escolha a opção
                “Comanda em Grupo”, onde você poderá administrar a comanda
                de todos.</p>

            <p>Tanto separadamente quanto em grupo os participantes
                podem escolher também em dividir um determinado prato ou uma
                bebida entre os participantes. Ao fechar a comanda, você será
                obrigado a marcar se tem taxa de 10% do garçom ou não.</p>

            <h6>LEI APLICÁVEL</h6>

            <p>Este Termo de Uso é regido única e exclusivamente pelas leis brasileiras, sendo que qualquer ação
                judicial derivada
                de sua interpretação ou aplicação deverá ser julgada pelo Poder Judiciário brasileiro.</p>

            <p>Em caso de conflito de leis estaduais ou municipais, para a interpretação de qualquer dúvida ou litígio,
                deverá
                sempre prevalecer a legislação do Estado do Pará.</p>

            <p>O foro eleito para resolução de eventuais conflitos é o da cidade de Belém - Pará, com exclusão de
                qualquer outro,
                por mais privilegiado que seja.</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button type="button" (click)="goBack()" class="btn btn-lg btn-default text-right">Voltar</button>
        </div>
    </div>
</div>